.box {
    min-inline-size: 150px;
    min-block-size: 150px;
    background-color: blueviolet;
  
    &:nth-child(even) {
      background-color: yellowgreen;
    }
}
  
 
.grid {
  --grid-max-column-count: attr(max-column-count type(<number>), 3);
  --grid-gap: 1rem;
  --grid-min-column: attr(min-column type(<length>), 400px);

  --grid-column-size-calc: calc((100% - var(--grid-gap) * var(--grid-max-column-count) - var(--grid-gap)) / var(--grid-max-column-count));

  display: grid;
  grid-template-columns: repeat(
    auto-fit, 
    minmax(min(100%, max(var(--grid-min-column),var(--grid-column-size-calc))), 1fr));
  gap: var(--grid-gap);

  max-inline-size: 650px;
  margin-inline: auto;
} 
  
  .description-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 1s ease-out;
  }
  
  
  .description-content > p {
    overflow: hidden;
  }
  
  
.box:hover .description-content {
    grid-template-rows: 1fr;
  }