
.wide-size-sections {
    --font-tai: "Lausanne", Arial, Helvetica, sans-serif;
    display: grid;
    place-content: center;
    position: relative;
    background-color: #000;
    padding-block-end: 2rem;
    aspect-ratio: 16/9;
    }
   
    .content-size {
    max-width: 2560px;
    margin: auto;
    padding-block: 0rem;
    font-family: var(--font-tai);
    
    & .content-size__title {

        display: flex;
        flex-direction: column;
        padding-block-end: 3.5rem;
        align-items: center;
        gap: .8rem;

        & h2 {
            margin: 0;
            color: #fff;
            font-size: xxx-large;
            font-weight: normal;
            text-wrap: balance;
        }
        
        & h3 {
            margin: 0;
            color: #fff;
            font-size: x-large;
        } 
        
        & h4 {
            margin: 0;
            color: #fff;
            font-size: x-large;
        }
    }
}
   
    .tabs-container {
    display: flex;
    margin: 0;
    flex-direction: row-reverse;
    min-block-size: 50vb;
   
    }
   
    .col-images {
    display: flex;
    width: 60%;
    border-inline-start: 1px solid #fff;
    box-sizing: border-box;
   
    & .col-images__image {
    display: none;
    margin: 0;
    min-inline-size: 100%;
    aspect-ratio: 5 / 3;
    box-sizing: border-box;
   
    & img {
    object-fit: cover;
    object-position: top;
    max-inline-size: 100%;
    aspect-ratio: 5 / 3;
    min-block-size: 100%;
    }
    }
   
    & #image-1 {
    display: flex;
    & img { object-position: center; }
    }
    }
   
    .col-images .col-images__image img {
    animation: fadeIn 1000ms ease;
    }
   
    @keyframes fadeIn {
    0% {
    opacity: 0;
    filter: blur(5px);
    }
   
    10% {
    opacity: 1;
    filter: brightness(1.3) blur(2px);
    }
    }
   
    .col-tabs {
    display: flex;
    width: 40%;
    flex-direction: column;
    }
   
    .tab {
    display: flex;
    gap: 0.8rem;
    padding: 1.5rem;
    color: #fff;
    margin-inline-start: 13%;
    max-block-size: min-content;
   
    & .tab__container {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    max-block-size: fit-content;
   
    }
   
    & .icon-number-container {
    display: flex;
    min-inline-size: 3vi;
    max-block-size: 4vh;
   
    & .icon-number-container__icon {
    min-inline-size: 100%;
    min-block-size: 100%;
    object-fit: cover;
    }
   
    }
   
    & .tab__title h3 {
    margin: 0;
    font-family: var(--font-tai);
    font-size: large;
    line-height: 1.2;
    text-wrap: pretty;
    font-weight: bold;
    }
   
    & .tab__description p {
    margin: 0;
    display: none;
    font-family: var(--font-tai);
    font-size: medium;
    line-height: 1.2 !important;
    text-wrap: pretty;
    transition: all 5s ease-in;
    }
   
    & #description-1 {
    display: flex;
    }
    }
   
    .tab.active {
    position: relative;
    background-color: #fff;
    color: #000;
    gap: 1.5rem;
    margin-inline-start: unset;
    transition: background-color 0.3s ease-in;
   ∫
    & .icon-number-container {
    min-inline-size: 6vi;
    max-block-size: 9vh;
   
    }
    }
   
    .tab__image {
    display: none;
    }
   
    .program-intro {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 1.5rem;
    border-bottom: 1px solid red;
    color: white;
   
    }
   
    .program-intro__title {
    flex: 1 2 40%;
   
    & h2 {
    font-size: xxx-large;
    line-height: 1.1;
    max-width: 25ch;
    min-width: 11ch;
    text-wrap: pretty;
    margin: 0;
   
    }
    }
   
    .program-intro__content {
    flex: 2 2 50%;
   
    & .claim {
    font-size: x-large;
    max-width: 75ch;
    text-wrap: pretty;
    margin: 0;
    }
   
    & .description {
    max-width: 75ch;
    text-wrap: pretty;
    }
   
    }
   
   
    /* C S S M O V I L */
   
    @media (width < 768px) {
   
    .content-size__title {
        gap: .5rem !important;
        
        h2 {
            font-size: xx-large !important;     
        }
    }
   
    .col-images {
    display: none;
    }
   
    .tab__description p {
    display: block !important;
    transition: none !important;
    color: white;
    }
   
    .tab.active .tab__description p {
    color: #000;
    transition: none !important;
    }
   
   
    .col-tabs {
    width: 100%;
   
    & .tab {
    margin-inline-start: 0px;
   
    & .icon-number-container {
    display: none;
    }
    }
   
    }
   
   
    .tab__image {
    display: block;
    margin: 0;
    margin-bottom: 1.5rem;
   
    & img {
    max-inline-size: 100%;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 5/3;
    }
    
    & .img-center {object-position: center;}
    }
   
    }