/* Reset básico */
@layer reset {
  * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* interpolate-size: allow-keywords; */
  }
}

@layer base {
  .layout {
    display: grid;
    container-type: inline-size;
    container-name: layout;
    padding-block: 2rem;
  }

  .column {
    box-sizing: border-box;
    padding-inline: clamp(1rem, 0.714rem + 1.43vw, 2rem);
  }

  .dark-container {
    background-color: black;
    color: white;
  }

  .red-container {
    background-color: #d12216;
    color: white;
  }

  .container-wrapper__contentSize--oneColumn {
    display: grid;
    max-inline-size: 1080px;
    inline-size: 100%;
    margin: auto;
    padding-inline: clamp(1rem, 0.714rem + 1.43vw, 2rem);
    gap: 1.5rem;
  }

  .separator-line {
    visibility: visible;
    margin: 1rem 0;
    max-inline-size: 90%;
    background-color: currentColor;
    height: 1px;
    padding: none;
  }

  a {
    color: inherit;
  }
}

@layer custom_images {
  .image-container--horizontal {
    display: flex;

    & img {
      max-inline-size: 100%;
      flex: 1;
      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
  }

  .image-container--vertical {
    display: flex;

    & img {
      max-inline-size: 100%;
      flex: 1;
      object-fit: cover;
    }
  }
}

@layer titles {
  .title {
    font-size: x-large;
    font-weight: normal;
    text-wrap: balance;
    line-height: 1.2;
    color: inherit;
    /* Hereda el color del contexto */
  }

  .title-header {
    font-size: xx-large;
    max-width: 1080px;
    font-weight: normal;
    text-wrap: balance;
  }

  .subtitle {
    font-size: larger;
    margin-block-end: 1rem;
    text-wrap: pretty;
    font-weight: normal;
    line-height: 1.3;
    color: inherit;
  }

  .text {
    font-size: medium;
    line-height: 1.3;
    text-wrap: pretty;
    margin-block: 0rem 1rem;
    color: inherit;
  }
}


@layer lists {
  .list {
    display: grid;
    padding-inline-start: .5rem;
    gap: 1rem;
    padding-inline-start: 1.5rem
  }
  
  .list--number {
    display: grid;
    padding-inline-start: .5rem;
    gap: 1rem;
    padding-inline-start: 1.5rem
  }
  
  .list-item--number {
    position: relative;
    font-size: medium;
  }
  
  .list-item {
    position: relative;
    font-size: medium;
    padding-inline-start: 1.5rem;
    list-style: none;
  }
  
  .list-item::before {
    content: "";
    position: absolute;
    inset-inline-start: 0rem;
    inset-block-start: .3rem;
    inline-size: 1rem;
    block-size: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15' preserveAspectRatio='xMidYMin meet'%3E%3Cpath d='M6.7 6.4c-.04-.74-.19-1.48-.45-2.21-.37-1.05-.55-1.78-.55-2.18 0-.56.13-.98.39-1.27.27-.29.6-.44.98-.44.33 0 .62.15.87.44.25.29.37.7.37 1.24 0 .48-.15 1.16-.44 2.03-.28.86-.45 1.65-.52 2.38.59-.38 1.12-.83 1.6-1.37.73-.85 1.27-1.38 1.63-1.58.35-.2.71-.31 1.08-.31s.65.12.89.37c.25.24.37.52.37.85 0 .4-.18.75-.53 1.06-.35.31-1.24.62-2.66.93-.83.18-1.51.39-2.06.63.56.29 1.24.51 2.05.66 1.3.24 2.15.53 2.55.89.41.35.61.74.61 1.16 0 .32-.12.6-.37.84-.24.24-.52.35-.84.35s-.68-.11-1.08-.34c-.39-.23-.91-.73-1.58-1.51-.44-.53-.99-1.02-1.64-1.48.02.61.15 1.28.37 2 .39 1.27.58 2.13.58 2.59 0 .43-.13.79-.39 1.1-.26.29-.53.44-.82.44-.4 0-.76-.16-1.08-.47-.23-.23-.34-.59-.34-1.08s.12-1.13.37-1.85c.25-.73.4-1.23.47-1.5.06-.28.12-.69.18-1.22-.63.42-1.19.89-1.66 1.4-.78.88-1.38 1.44-1.77 1.68-.28.17-.57.26-.87.26-.37 0-.68-.12-.93-.37s-.39-.52-.39-.82c0-.27.11-.55.32-.84.23-.3.56-.55 1-.74.29-.13.95-.3 1.98-.52.67-.14 1.32-.34 1.95-.61-.58-.29-1.27-.52-2.08-.68-1.32-.28-2.14-.53-2.45-.76-.48-.35-.73-.78-.73-1.29 0-.29.12-.55.35-.79.25-.25.53-.37.85-.37.35 0 .73.11 1.13.34.4.23.89.68 1.48 1.37.59.68 1.19 1.2 1.8 1.58Z' fill='white'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .list-item--dark {
    position: relative;
    font-size: medium;
    padding-inline-start: 1.5rem;
    margin-block-end: 0.75rem;
    list-style: none;
  }
  
  .list-item--dark::before {
    content: "";
    position: absolute;
    inset-inline-start: 0rem;
    inset-block-start: .3rem;
    inline-size: 1rem;
    block-size: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15' preserveAspectRatio='xMidYMin meet'%3E%3Cpath d='M6.7 6.4c-.04-.74-.19-1.48-.45-2.21-.37-1.05-.55-1.78-.55-2.18 0-.56.13-.98.39-1.27.27-.29.6-.44.98-.44.33 0 .62.15.87.44.25.29.37.7.37 1.24 0 .48-.15 1.16-.44 2.03-.28.86-.45 1.65-.52 2.38.59-.38 1.12-.83 1.6-1.37.73-.85 1.27-1.38 1.63-1.58.35-.2.71-.31 1.08-.31s.65.12.89.37c.25.24.37.52.37.85 0 .4-.18.75-.53 1.06-.35.31-1.24.62-2.66.93-.83.18-1.51.39-2.06.63.56.29 1.24.51 2.05.66 1.3.24 2.15.53 2.55.89.41.35.61.74.61 1.16 0 .32-.12.6-.37.84-.24.24-.52.35-.84.35s-.68-.11-1.08-.34c-.39-.23-.91-.73-1.58-1.51-.44-.53-.99-1.02-1.64-1.48.02.61.15 1.28.37 2 .39 1.27.58 2.13.58 2.59 0 .43-.13.79-.39 1.1-.26.29-.53.44-.82.44-.4 0-.76-.16-1.08-.47-.23-.23-.34-.59-.34-1.08s.12-1.13.37-1.85c.25-.73.4-1.23.47-1.5.06-.28.12-.69.18-1.22-.63.42-1.19.89-1.66 1.4-.78.88-1.38 1.44-1.77 1.68-.28.17-.57.26-.87.26-.37 0-.68-.12-.93-.37s-.39-.52-.39-.82c0-.27.11-.55.32-.84.23-.3.56-.55 1-.74.29-.13.95-.3 1.98-.52.67-.14 1.32-.34 1.95-.61-.58-.29-1.27-.52-2.08-.68-1.32-.28-2.14-.53-2.45-.76-.48-.35-.73-.78-.73-1.29 0-.29.12-.55.35-.79.25-.25.53-.37.85-.37.35 0 .73.11 1.13.34.4.23.89.68 1.48 1.37.59.68 1.19 1.2 1.8 1.58Z' fill='black'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .list-item a {
    text-decoration: none;
    color: #000;
    font-size: medium;
  }
  
  .list-item a:hover {
    text-decoration: underline;
  }
}

@layer buttons {
  .cta-button {
    margin-block-start: 1rem;
    display: block;
    text-align: center;
    width: fit-content;
    border-radius: 25px;
    letter-spacing: 1px;
    font-size: medium;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #d12216;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: all .3s ease;
    border: 1px solid #d12216;
  
    &:hover {
      background-color: #fff;
      color: #000;
      border: 1px solid #000;
      transform: scale(1.1);
    }
  }
}




/* Estilo de Card embajadores */
.card-with-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-block-size: 13rem;
  transition: all 0.3s;
  cursor: pointer;
  transition: transform 0.3s ease;

  & img {
    flex: 1;
    max-inline-size: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 4 / 5;
    max-block-size: 20rem;
    filter: grayscale(100%);

  }
}

.card-with-image:hover {
  transform: scale(1.05);
}

.card__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-block-end: 1rem;
  block-size: 100%;
  align-items: center;
  background-color: #fff;
  color: #000;
}

:where(.card-with-image .card__details p) {
  text-align: center;
}

:is(.container-wrapper__cards .card-with-image .card__details) {
  justify-content: space-between;
}

.title-card {
  font-size: large;
  text-transform: uppercase;
  line-height: 1.2;
  text-wrap: pretty;
  margin: 0;
}

.group-btns {
  display: flex;
  justify-content: center;
  gap: .8rem;
}

.rrss-ig {
  position: relative;
  margin: 0;
  font-size: medium;
  text-wrap: pretty;
  padding-inline-start: 1.3rem;
  text-decoration: none;
  color: inherit;

  &::before {
    content: "";
    position: absolute;
    inset-inline-start: 0rem;
    inset-block-start: 0rem;
    inline-size: 1rem;
    block-size: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' fill='none' viewBox='0 0 24 24' preserveAspectRatio='xMidYMin meet'%3E%3Cpath fill='%23d12216' fill-rule='evenodd' d='M12 18c3.3137 0 6-2.6863 6-6 0-3.31371-2.6863-6-6-6-3.31371 0-6 2.68629-6 6 0 3.3137 2.68629 6 6 6Zm0-2c2.2091 0 4-1.7909 4-4 0-2.20914-1.7909-4-4-4-2.20914 0-4 1.79086-4 4 0 2.2091 1.79086 4 4 4Z' clip-rule='evenodd'/%3E%3Cpath fill='%23d12216' d='M18 5c-.5523 0-1 .44772-1 1s.4477 1 1 1 1-.44772 1-1-.4477-1-1-1Z'/%3E%3Cpath fill='%23d12216' fill-rule='evenodd' d='M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6v2.8c0 3.3603 0 5.0405.65396 6.3239.57524 1.129 1.49312 2.0469 2.6221 2.6221C5.55953 23 7.23969 23 10.6 23h2.8c3.3603 0 5.0405 0 6.3239-.654 1.129-.5752 2.0469-1.4931 2.6221-2.6221C23 18.4405 23 16.7603 23 13.4v-2.8c0-3.36031 0-5.04047-.654-6.32394-.5752-1.12898-1.4931-2.04686-2.6221-2.6221C18.4405 1 16.7603 1 13.4 1h-2.8c-3.36031 0-5.04047 0-6.32394.65396-1.12898.57524-2.04686 1.49312-2.6221 2.6221ZM13.4 3h-2.8c-1.71316 0-2.87775.00156-3.77792.0751-.87684.07164-1.32524.20149-1.63804.36087-.75265.3835-1.36457.99542-1.74807 1.74807-.15938.3128-.28923.7612-.36087 1.63804C3.00156 7.72225 3 8.88684 3 10.6v2.8c0 1.7132.00156 2.8777.0751 3.7779.07164.8769.20149 1.3253.36087 1.6381.3835.7526.99542 1.3645 1.74807 1.748.3128.1594.7612.2893 1.63804.3609C7.72225 20.9984 8.88684 21 10.6 21h2.8c1.7132 0 2.8777-.0016 3.7779-.0751.8769-.0716 1.3253-.2015 1.6381-.3609.7526-.3835 1.3645-.9954 1.748-1.748.1594-.3128.2893-.7612.3609-1.6381.0735-.9002.0751-2.0647.0751-3.7779v-2.8c0-1.71316-.0016-2.87775-.0751-3.77792-.0716-.87684-.2015-1.32524-.3609-1.63804-.3835-.75265-.9954-1.36457-1.748-1.74807-.3128-.15938-.7612-.28923-1.6381-.36087C16.2777 3.00156 15.1132 3 13.4 3Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    color: #d12216;
  }
}

.rrss-youtube {
  position: relative;
  margin: 0;
  font-size: medium;
  text-wrap: pretty;
  padding-inline-start: 1.3rem;
  text-decoration: none;
  color: inherit;

  &::before {
    content: "";
    position: absolute;
    inset-inline-start: 0rem;
    inset-block-start: 0rem;
    inline-size: 1rem;
    block-size: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 -7 48 48'%3E%3Cpath d='m19.044 23.27-.002-13.582 12.97 6.814-12.968 6.768ZM47.52 7.334s-.47-3.33-1.908-4.798C43.786.61 41.74.601 40.803.49 34.086 0 24.011 0 24.011 0h-.022S13.914 0 7.197.49c-.939.11-2.983.12-4.81 2.045C.948 4.003.48 7.334.48 7.334S0 11.247 0 15.158v3.668c0 3.912.48 7.823.48 7.823s.468 3.331 1.907 4.798c1.827 1.926 4.225 1.866 5.293 2.067C11.52 33.885 24 34 24 34s10.086-.015 16.803-.505c.938-.113 2.983-.122 4.809-2.048 1.438-1.467 1.908-4.798 1.908-4.798s.48-3.91.48-7.823v-3.668c0-3.911-.48-7.824-.48-7.824Z' fill='%23d12216' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    color: #d12216;
  }
}

/* Estilo del modal */
dialog {
  border: none;
  padding: 1.8rem;
  inline-size: 600px;
  text-align: start;
  background-color: #fff;
  margin: auto;

}

.container-close-modal {
  display: flex;
  justify-content: flex-end;
}

.avatar-modal {
  display: flex;
  align-items: center;
  gap: 1rem;
}

:where(.avatar-modal div) {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

dialog img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  object-position: 50% 10%;
  margin-block-end: 1rem;
}

dialog h2 {
  text-wrap: balance;
  font-size: larger;
  line-height: 1.2;
}

dialog p {
  margin: 0 0 1rem;
  text-wrap: pretty;
  line-height: 1.2;
  font-size: medium;

}

dialog a {
  color: #d12216;
  text-decoration: none;
}

dialog a:hover {
  text-decoration: underline;
}

dialog button {
  padding: .3rem .6rem;
  color: #fff;
  border: solid white 1px;
  border-radius: 0;
  cursor: pointer;
  font-size: 1rem;
  background: transparent;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #f1f1f1;
  }
}


/* Backdrop */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* DETAILS PREGUNTAS FRECUENTES */

details {
  cursor: pointer;
}

summary:focus-visible {
  outline: 2px solid #d12216;
  outline-offset: 8px;
  border-radius: 4px;
}

details h4 {
  inline-size: 95%;
}

summary {
  display: flex;
  justify-items: space-between;
  align-items: center;
  margin-block-end: 1.5rem;
}

summary::marker {
  display: none;
  content: "";
}

span {
  content: '▼';
  margin-top: 4px;
  color: #fff;
}

details[open] span {
  transform: rotate(180deg);
}

details>p {
  max-inline-size: 650px;
  line-height: 155%;
  letter-spacing: .1px;
  margin-bottom: 40px;
  padding-left: 10px;
}

hr {
  border: 1px solid inherit;
  margin-block-end: 30px;
}

@container layout (width > 768px) {


  .container-wrapper__wideSize {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }


}

@container layout (width > 480px) {

  .container-wrapper__contentSize {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-inline-size: 1080px;
    margin: auto;

  }

  .container-wrapper__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 1.5rem;
  }

}

@container layout (width < 480px) {

  .container-wrapper__contentSize {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
  }
}


/* DETAILS PREGUNTAS FRECUENTES */

details {
  cursor: pointer;
}

summary:focus-visible {
  outline: 2px solid #d12216;
  outline-offset: 8px;
  border-radius: 4px;
}

details h4 {
  inline-size: 95%;
}

summary {
  display: flex;
  justify-items: space-between;
  align-items: center;
  margin-block-end: 1.5rem;
}

summary::marker {
  display: none;
  content: "";
}

span {
  content: '▼';
  margin-top: 4px;
  color: #fff;
}

details[open] span {
  transform: rotate(180deg);
}

details>p {
  max-inline-size: 650px;
  line-height: 155%;
  letter-spacing: .1px;
  margin-bottom: 40px;
  padding-left: 10px;
}

hr {
  border: 1px solid inherit;
  margin-block-end: 30px;
}